

QSlider::groove:horizontal {
border: 1px solid #bbb;
background: white;
height: 10px;
border-radius: 4px;
}

QSlider::sub-page:horizontal {
background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
    stop: 0 #ff3e1c, stop: 1 #ffff00);
background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
    stop: 0 #ff3e1c, stop: 1 #ffff00);
border: 1px solid #777;
min-width: 25px;
height: 10px;
border-radius: 4px;
}

QSlider::add-page:horizontal {
background: #fff;
border: 1px solid #777;
height: 10px;
border-radius: 4px;
}

QSlider::handle:horizontal {
background-color: #80fc5d;
border: 1px solid #777;
width: 13px;
margin-top: -2px;
margin-bottom: -2px;
border-radius: 4px;
}

QSlider::handle:horizontal:hover {
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 #f143f7, stop:1 #42eaed);
border: 1px solid #000000;
border-width: 1px;
border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
background: #bbb;
border-color: #999;
}

QSlider::add-page:horizontal:disabled {
background: #eee;
border-color: #999;
}

QSlider::handle:horizontal:disabled {
background: #eee;
border: 1px solid #aaa;
border-radius: 4px;
}

QPushButton {
background-color: #8acaff;
border-width: 1px;
border-radius: 4px;
border-color: #ff33f5;
min-width: 25px;
min-height: 25px;
padding: 2px;
icon-size: 30px;
}

QLabel {
color: #ff001e;
}

QVideoWidget {
padding: 2px;
border: 1px;
}
